.status {
    display: flex;
    justify-content: center;
    align-items: center;

    .status-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}