:root {
    --panel-bg-color: #535353;
    --primary-color: #E8E8E8; /* default colors are for dark themes */
    --primary-background: #424242;
    --primary-border: #707070;
    --input-bg-color: #424242;
    --block-bg-color: #323232;
    --block-wrap-color: #262626;
    --block-icon-color: #fff;
    --primary-font-color: #fff;
    --second-font-color: #999;
    --level-bg-color: #000;
    --dir-item-bg: #b4b4b4;
    font-family: 'SimHei', "MS Gothic";
    ul{
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            list-style-type: none;
        }
    }
    
}
// @media (prefers-color-scheme:dark) {
//     :root {
//         --panel-bg-color: #535353;
//         --block-bg-color: #535353;
//         --block-wrap-color: #424242;
//     }
// }
// @media (prefers-color-scheme:light) {
//     :root {
//         --panel-bg-color: #b0b0b0;
//         --input-bg-color: #a9a9a9;
//         --primary-color: #181818; /* override for light themes */
//         --primary-background: #a9a9a9;
//         --primary-border: #848484;
//         --block-bg-color: #b8b8b8;
//         --block-wrap-color: #a3a3a3;
//         --block-icon-color: #181818;
//     }
// }



// @media (prefers-color-scheme:darkest) {
//     :root {
//         --block-bg-color: #323232
//     }
// }
// @media (prefers-color-scheme: lightest) {
//     :root {
//         --input-bg-color: #cecece;
//         --primary-color: #181818; /* override for light themes */
//         --primary-background: #cecece;
//         --primary-border: #ffffff;
//         --block-bg-color: #f0f0f0;
//         --block-wrap-color: #dbdbdb;
//         --block-icon-color: #181818;
//     }
// }
.ps-app{
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background-color: var(--panel-bg-color);

    &.theme-light {
        --panel-bg-color: #f0f0f0;
        --input-bg-color: #dbdbdb;
        --primary-color: #181818; /* override for light themes */
        --primary-background: #dbdbdb;
        --primary-border: #ccc;
        --block-bg-color: #b8b8b8;
        --block-wrap-color: #dbdbdb;
        --block-icon-color: #181818;
        --primary-font-color: #333;
        --second-font-color: #999;
        --level-bg-color: #dcdcdc;
        --dir-item-bg: #f9f9f9;
    }

    &.theme-default {
        --panel-bg-color: #b0b0b0;
        --primary-font-color: #333;
        --second-font-color: #999;
        --primary-background: #a3a3a3;
        --primary-border: #8a8a8a;
        --block-wrap-color: #a3a3a3;
        --primary-font-color: #000;
        --second-font-color: #666;
        --input-bg-color: #a3a3a3;
        --level-bg-color: #cfcfcf;
    }
    
    &.theme-dark {
        --panel-bg-color: #535353;
        --block-bg-color: #535353;
        --block-wrap-color: #424242;
        --level-bg-color: #424242;
        --dir-item-bg: #6f6f6f;
    }
    &.theme-darkest {
        --primary-border: #505050;
        --panel-bg-color: #323232;
        --level-bg-color: #292929;
        --dir-item-bg: #565656;
    }

}