.settings__header {
    display: flex;
    padding-bottom: 20px;
    flex-direction: row;
    border-bottom: 2px solid gray;
    border-radius: 1px;
    overflow: hidden;

    .settings__header__avatar {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        flex-shrink: 0;
        background-color: #005cc8;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;

    }

    .settings__header__user {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex-grow: 1;
        h3 {
            margin: 0;
        }

        .settings__header__user__email {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


.settings__content__lan {
    height: 60px;
    border-bottom: 2px solid gray;
    border-radius: 1px;
    display: flex;
    align-items: center;
    span {
        width: 50%;
    }
    select {
        flex: 1;
    }
}

.settings__content__team {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-bottom: 2px solid gray;
    border-radius: 1px;
    padding-bottom: 10px;

    .settings__content__team__title {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        span {
            margin-bottom: 10px;
        }
    }

    .settings__content__team__preview {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: center;

        #project-head{
            width: 20%;
            object-fit: cover;
        }

        .settings__content__team__preview__project-name {
            display: flex;
            flex-direction: column;
        }
    }

}

.settings__footer {
    margin-top: 10px ;
}