.login-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .login-wrap-icon {
        width: 50%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    #login-button {
        border-radius: 4px;
        height: 40px;
        width: 60%;
        background: #1c61e7;
        border: none;
        outline: none;
        color: #fff;
    }
}