.ps-table {
    flex : 1;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .ps-table__main {
        flex: 1;
    }

    .ps-table__side {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
    }
}